<!DOCTYPE html>
<html lang="ar" dir="rtl" oncontextmenu="return ">

<head>
    <link rel="stylesheet" href="assest/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5320850548579826"
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PXN38Q3W0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6PXN38Q3W0');
    </script>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#398b79">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords"
        content=" حساب المعدل , حساب المعدل التراكمي ,احسب معدلك , احسب معدلك التراكمي بدقة , طريقة حساب المعدلات">
    <meta name="keywords"
        content="جامعة أم القرى,الجامعة الإسلامية,جامعة الإمام محمد بن سعود الإسلامية,جامعة الملك عبد العزيز,جامعة الملك سعود,جامعة الملك فهد للبترول والمعادن,جامعة نايف العربية للعلوم الأمنية,جامعة الملك فيصل,جامعة القصيم,جامعة طيبة,جامعة الطائف,جامعة حائل,جامعة جازان,جامعة الجوف,جامعة الباحة,جامعة تبوك,جامعة نجران,جامعة الحدود الشمالية,جامعة الأميرة نورة بنت عبد الرحمن,جامعة الملك سعود بن عبد العزيز,جامعة الإمام,جامعة الملك عبد الله للعلوم والتقنية,جامعة الأمير سطام بن عبد العزيز,جامعة شقراء,جامعة المجمعة,الجامعة السعودية الالكترونية,جامعة جدة,جامعة بيشة,كلية المدربين التقنيين,جامعة حفر الباطن,كلية الجبيل الصناعية,كلية ينبع الصناعية,كلية ينبع الجامعية">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.webmanifest">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <!-- <link rel="apple-touch-icon" href="/ios/72.png" />
    <link rel="apple-touch-icon" href="/ios/96.png" /> -->
    <!-- <link rel="apple-touch-icon" href="/ios/128.png" /> -->
    <!-- <link rel="apple-touch-icon" href="/ios/144.png" /> -->
    <!-- <link rel="apple-touch-icon" href="/ios/167.png" />
    <link rel="apple-touch-icon" href="/ios/192.png" /> -->
    <!-- <link rel="apple-touch-icon" href="assest/ios/256.png" /> -->
    <link rel="apple-touch-icon" href="imgggg/ios/1024.png" />
    <!-- <link rel="apple-touch-icon" href="imgg/ios/120.png" />
    <link rel="apple-touch-icon" href="imgg/ios/152.png" />
    <link rel="apple-touch-icon" href="imgg/ios/167.png" /> -->
    <link rel="apple-touch-icon" href="imgggg/ios/180.png" />
    <link rel="shortcut icon" href="windows11/Square44x44Logo.targetsize-96.png" type="image/png">

    <meta name="apple-mobile-web-app-status-bar" content="#398b79" />
    <meta name="theme-color" content="#398b79" />
    <link rel="stylesheet" href="../style.css">


    <title>معدلي</title>
</head>
<style>
    :root {
        --main: #398b79;
    }

    body {
        background-color: var(--main);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Amiri', serif;
    }

    #logo {
        font-size: 26px;
        font-weight: 200;
    }
</style>


<body>

    <nav class="navbar  shadow-lg  " style="background-color:var(--main);">
        <div class="container">
            <a class="navbar-brand text-white " id="logo" href="/">
                قلم
                <img src="assest/animitedLogo.gif" alt="" width="60px" class="">
            </a>
    </nav>

     <!-- Hamburger Menu -->

  <div class="menu-wrap"  dir="rtl">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>


    <div class="menu">
        <div>
            <div>
                <ul>
                    <a href="/profile"><li>الملف الشخصي</li></a>
                    <a href="/about"><li>من نحن</li></a>
                    <a href="/"><li>تسجيل خروج </li></a>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- End of Hamburger Menu -->
    <!----------------------------------#HERO--------------------------------------------->
 

    </style>
    <div data-aos="fade-down">
        <div class="container bg-transpent my-5 px-5" id="bn">
            <div class="bn shadow-lg ">
                <div id="col1" class="row shadow-lg " style="background-color: var(--main);  border-radius: 20px;
">
                    <div
                        class="col-md-6 col-sm-12 pt-2 shadow-lg d-flex  lead d-flex a text-light justify-content-center pt-lg-5 pt-md-5 pt-sm-0 ">
                        <p> احسب معدلك بكل سهولة
                        </p>

                    </div>
                    <div
                        class="col-md-6 col-sm-12 lead d-flex  justify-content-evenly  text-light align-content-center">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_uqsv3ztj.json" mode="bounce"
                        background="transparent" speed="1" style="width: 300px; height: 150px;" loop autoplay>
                    </lottie-player>
                      
                    </div>
                </div>
            </div>

        </div>
        <!-- -->
    </div>


    <!--------------------------------------END HERO----------------------------------------------------->
    <style>

    </style>
    <section>
        <div class="container " id="bn">
            <div class="row">
                <div class="col-md-6 col-sm-12 mt-3 px-5 flex-column justify-content-center   ">
                    <div class="form-floating   mb-3 flex-column mt-md-5 ">
                        <input type="number" oninput="cla(),Calgrade()" class="form-control " id="cGpa" placeholder=".">
                        <label for="">المعدل الحالي</label>
                    </div>
                    <div class="form-floating  ">
                        <input type="number" oninput="cla(),countHours(),Calgrade()" class="form-control " id="cHours"
                            placeholder=".">
                        <label for=""> الساعات المكتسبة</label>
                    </div>


                    <div class="row container mt-5 d-flex justify-content-center align-items-center" id="bvno">
                        <div
                            class=" col-sm-12 d-flex justify-content-center align-items-center border-top border-bottom  me-3  ">
                            <div class="form-check  my-2  ">
                                <input onchange="countHours(),Calgrade(),gradeing()"
                                    class="form-check-input shadow-lg border fs-5 bg-transparent " type="checkbox"
                                    id="myCheck">
                                <label class="form-check-label lead text-light" for="defaultCheck1">
                                    حساب المعدل من 4
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 lead ">
                    <table id="table" class="table mt-4 ">
                        <thead class="text-light lead">
                            <tr>
                                <th> المادة</th>
                                <th>الساعات</th>
                                <th> الدرجة</th>
                            </tr>
                        </thead>
                        <tbody id="tb">
                            <tr>
                                <th scope="row" class="lead">1</th>
                                <td><select type="number" class="form-control  numberOfHours"
                                        oninput=" countHours(),Calgrade()" style="width: 90px;height: 38px;">
                                        <option value="">الساعات</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                    </select></td>
                                <td><select class="subjectRating form-control" oninput="Calgrade()"
                                        style="width: 98px;">
                                        <option value="">الدرجة</option>
                                        <option value=5>A+|95-100</option>
                                        <option value=4.75>A | 90-94</option>
                                        <option value=4.5>B+ | 85-89</option>
                                        <option value=4>B | 80-84</option>
                                        <option value=3.5>C+ | 75-79</option>
                                        <option value=3>C | 70-74</option>
                                        <option value=2.5>D+ | 65-69</option>
                                        <option value=2>D | 60-64</option>
                                        <option value=1>F</option>
                                    </select></td>

                            </tr>

                            <tr>
                                <th scope="row" class="lead">2</th>
                                <td><select type="number" class="form-control  numberOfHours"
                                        oninput=" countHours(),Calgrade()" style="width: 90px;height: 38px;">
                                        <option value="">الساعات</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                    </select></td>
                                <td><select class="subjectRating form-control" oninput="Calgrade()"
                                        style="width: 98px;">
                                        <option value="">الدرجة</option>
                                        <option value=5>A+|95-100</option>
                                        <option value=4.75>A | 90-94</option>
                                        <option value=4.5>B+ | 85-89</option>
                                        <option value=4>B | 80-84</option>
                                        <option value=3.5>C+ | 75-79</option>
                                        <option value=3>C | 70-74</option>
                                        <option value=2.5>D+ | 65-69</option>
                                        <option value=2>D | 60-64</option>
                                        <option value=1>F</option>
                                    </select></td>

                            </tr>
                            <tr>
                                <th scope="row" class="lead">3</th>
                                <td><select type="number" class="form-control  numberOfHours"
                                        oninput=" countHours(),Calgrade()" style="width: 90px;height: 38px;">
                                        <option value="">الساعات</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                    </select></td>
                                <td><select class="subjectRating form-control " oninput="Calgrade()"
                                        style="width: 98px;">
                                        <option value="">الدرجة</option>
                                        <option value=5>A+|95-100</option>
                                        <option value=4.75>A | 90-94</option>
                                        <option value=4.5>B+| 85-89</option>
                                        <option value=4>B | 80-84</option>
                                        <option value=3.5>C+ | 75-79</option>
                                        <option value=3>C | 70-74</option>
                                        <option value=2.5>D+ | 65-69</option>
                                        <option value=2>D | 60-64</option>
                                        <option value=1>F</option>
                                    </select></td>

                            </tr>
                            <tr>
                                <th scope="row" class="lead" d>4</th>
                                <td><select type="number" class="form-control  numberOfHours"
                                        oninput=" countHours(),Calgrade()" style="width: 90px;height: 38px;">
                                        <option value="">الساعات</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                        <option value=7>7</option>
                                        <option value=8>8</option>
                                        <option value=9>9</option>
                                        <option value=10>10</option>
                                    </select></td>
                                <td><select class="subjectRating form-control" oninput="Calgrade()"
                                        style="width: 98px;">
                                        <option value="">الدرجة</option>
                                        <option value=5>A+|95-100</option>
                                        <option value=4.75>A | 90-94</option>
                                        <option value=4.5>B+ | 85-89</option>
                                        <option value=4>B | 80-84</option>
                                        <option value=3.5>C+ | 75-79</option>
                                        <option value=3>C | 70-74</option>
                                        <option value=2.5>D+ | 65-69</option>
                                        <option value=2>D | 60-64</option>
                                        <option value=1>F</option>
                                    </select></td>

                            </tr>

                            </tr>
                        </tbody>
                    </table>
                    <button class=" btn btn-outline-light " id="addRow"
                        onclick="addRow(),countHours(),Calgrade(),gradeing()"> أضف
                        مادة +<i class="bi bi-plus-square"></i> </button>
                    <button class=" btn btn-outline-light " id="removeRow"
                        onclick="removeRow(),countHours(),Calgrade(),gradeing()">-<i class="bi bi-plus-square"></i>
                    </button>



                </div>

                <div class="container mt-4">
                    <div class=" bg-light mb-2 " style="height: 2px; width: 519;"></div>

                    <div class="row bg-transparent ">

                        <div
                            class=" d-flex text-light  bg-transparent  justify-content-md-around  justify-content-evenly">
                            <h6 id="semGpa" class="" style="font-size: 19px;">معدلك الفصلي :</h6>
                            <h6 id="tHour" class=" " style="font-size: 19px;"> مجموع الساعات :</h6>

                        </div>
                    </div>

                    <div class=" bg-light mb-2 " style="height: 2px; width: 519;"></div>

                    <div class="row bg-transparent   ">
                        <div
                            class="d-flex text-light bg-transparent justify-content-md-around  justify-content-evenly  ">
                            <h6 id="culmGpa" class="" style="font-size: 19px;">معدلك التراكمي :</h6>
                            <h6 id="sumPoint" class="" style="font-size: 19px;"> مجموع النقاط :</h6>

                        </div>

                    </div>
                    <div class="m bg-light mb-5" style="height: 2px; width: 519;"></div>

                </div>
            </div>

    </section>
    <style>

    </style>

    <footer class=" mb-5 text-white text-center">
        <div class="container">
            <p class="fs-5 lead" id="footer">
                Copyright &copy; 2022 TARIQ ALHARBI
            </p>
            <a target="_blank" rel='' href="https://t.me/Rescco"><i class="lab text-light fs-3
             la-telegram"></i></a>
        </div>

    </footer>

    <script src="../public/gpaCalc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

<script>
    const _0x5ad947 = _0x1ad4; function _0x1ad4(_0x1bdd1d, _0x18da4e) { const _0x2dc564 = _0x2dc5(); return _0x1ad4 = function (_0x1ad453, _0x2f8fbb) { _0x1ad453 = _0x1ad453 - 0x93; let _0x993dcd = _0x2dc564[_0x1ad453]; return _0x993dcd; }, _0x1ad4(_0x1bdd1d, _0x18da4e); } (function (_0x575f72, _0x2b040b) { const _0x5aa14f = _0x1ad4, _0x5dd48b = _0x575f72(); while (!![]) { try { const _0x4fb744 = parseInt(_0x5aa14f(0x98)) / 0x1 + parseInt(_0x5aa14f(0xb1)) / 0x2 + parseInt(_0x5aa14f(0xab)) / 0x3 * (parseInt(_0x5aa14f(0xaa)) / 0x4) + -parseInt(_0x5aa14f(0xae)) / 0x5 * (parseInt(_0x5aa14f(0x9d)) / 0x6) + -parseInt(_0x5aa14f(0xa9)) / 0x7 + -parseInt(_0x5aa14f(0x94)) / 0x8 + parseInt(_0x5aa14f(0xac)) / 0x9 * (parseInt(_0x5aa14f(0xa5)) / 0xa); if (_0x4fb744 === _0x2b040b) break; else _0x5dd48b['push'](_0x5dd48b['shift']()); } catch (_0x1a6a5a) { _0x5dd48b['push'](_0x5dd48b['shift']()); } } }(_0x2dc5, 0x485b0)); var x = document[_0x5ad947(0xb9)](_0x5ad947(0xaf)); let tabel = document[_0x5ad947(0xb3)](_0x5ad947(0x96)), hour = document[_0x5ad947(0xb4)]('numberOfHours'), dgree = document[_0x5ad947(0xb4)]('subjectRating'), totalHours = Number(0x0); totalHours = 0x0; function _0x2dc5() { const _0x28d0f3 = ['<p\x20id=\x22semGpa\x22\x20\x20style=\x22font-size:\x2019px;\x22>\x20معدلك\x20الفصلي\x20:', 'innerHTML', 'getElementById', 'value', 'length', '2949000uJztNW', 'insertCell', 'table', 'جيد\x20جداً', '233332WqiYom', 'مقبول\x20', 'checked', 'cGpa', 'numberOfHours', '122172mmNKYN', '<select\x20class=\x22subjectRating\x20form-control\x22\x20oninput=\x22Calgrade()\x22\x20style=\x22width:\x2098px;\x22>\x20<option\x20value=\x22\x22>الدرجة</option>\x20\x20\x20<option\x20option\x20value\x20=\x205\x20>\x20A\x20+|\x2095\x20-\x20100</option\x20>\x20<option\x20value=4.75\x20>\x20A\x20|\x2090\x20-\x2094</option\x20>\x20<option\x20value=4.5\x20>\x20B\x20+\x20|\x2085\x20-\x2089</option\x20>\x20<option\x20value=4\x20>\x20B\x20|\x2080\x20-\x2084</option\x20>\x20<option\x20value=3.5\x20>\x20C\x20+\x20|\x2075\x20-\x2079</option\x20>\x20<option\x20value=3\x20>\x20C\x20|\x2070\x20-\x2074</option\x20>\x20<option\x20value=2.5\x20>\x20D\x20+\x20|\x2065\x20-\x2069</option\x20>\x20<option\x20value=2\x20>\x20D\x20|\x2060\x20-\x2064</option\x20>\x20<option\x20value=1\x20>\x20F</option\x20></select\x20>\x20', 'toFixed', 'جيد\x20', 'semGpa', '<p\x20\x22\x20style=\x22font-size:\x2019px;\x22>\x20مجموع\x20الساعات\x20:\x20', 'querySelectorAll', 'cHours', '10RKEVXy', '<select\x20type=\x22number\x22\x20class=\x22form-control\x20\x20numberOfHours\x22\x20oninput=\x22\x20countHours(),Calgrade()\x22style\x20=\x20\x22width:\x2090px;height:\x2038px;\x22\x20><option\x20value=\x22\x22>الساعات</option>\x20<option\x20value=1\x20>\x201</option\x20><option\x20value=2\x20>\x202</option\x20>\x20<option\x20value=3\x20>\x203</option\x20><option\x20value=4\x20>\x204</option\x20>\x20\x20\x20<option\x20value=5>5</option>\x20<\x20option\x20value\x20=\x206\x20>\x206</\x20>\x20<option\x20value=7\x20>\x207</option\x20>\x20<option\x20value=8\x20>\x208</option\x20>\x20<option\x20value=9\x20>\x209</option\x20>\x20<option\x20value=10\x20>\x2010</option\x20></select\x20>', 'insertRow', '</p>', '2776424IZtCJE', '290956rfpyCI', '3VwruXm', '6073992RtFZdq', '<p\x20id=\x22sumPoint\x22\x20\x20style=\x22font-size:\x2019px;\x22>عدد\x20النقاط\x20:', '115DeJcwy', 'myCheck', 'tHour', '1097984CtTtja', 'ممتاز', 'querySelector', 'getElementsByClassName', '#tb', 'tbody\x20tr']; _0x2dc5 = function () { return _0x28d0f3; }; return _0x2dc5(); } function countHours() { const _0x4e3515 = _0x5ad947; let _0x653ba = document[_0x4e3515(0xb9)](_0x4e3515(0xa4))[_0x4e3515(0xba)], _0x2de425 = Number(0x0); _0x2de425 = 0x0; for (let _0x5be211 = 0x0; _0x5be211 < table['querySelectorAll']('tbody\x20tr')[_0x4e3515(0x93)]; _0x5be211++) { hour[_0x5be211][_0x4e3515(0xba)] ? _0x2de425 += parseInt(document[_0x4e3515(0xb4)](_0x4e3515(0x9c))[_0x5be211][_0x4e3515(0xba)]) : 0x0; } let _0x166a76 = parseInt(_0x653ba), _0x803401 = parseInt(_0x2de425), _0x299d6e = NaN; _0x299d6e = _0x803401 + _0x166a76; if (isNaN(_0x166a76)) _0x166a76 = ''; if (isNaN(_0x803401)) _0x803401 = ''; return document[_0x4e3515(0xb9)](_0x4e3515(0xb0))[_0x4e3515(0xb8)] = _0x4e3515(0xa2) + (_0x803401 + _0x166a76) + _0x4e3515(0xa8), _0x299d6e; } function Calgrade() { const _0x1d26e6 = _0x5ad947; let _0x1e27e5 = 0x0, _0x4be4c2 = 0x0, _0x6eab3 = 0x0, _0x4f446d = NaN, _0x326444 = NaN, _0x26adba = NaN, _0x2e4c5d = NaN; for (let _0x5ad8bc = 0x0; _0x5ad8bc < table[_0x1d26e6(0xa3)](_0x1d26e6(0xb6))[_0x1d26e6(0x93)]; _0x5ad8bc++) { x[_0x1d26e6(0x9a)] === !![] ? (_0x6eab3 = (dgree[_0x5ad8bc][_0x1d26e6(0xba)] - 0x1) * hour[_0x5ad8bc][_0x1d26e6(0xba)], _0x4be4c2 = _0x4be4c2 + _0x6eab3, hour[_0x5ad8bc][_0x1d26e6(0xba)] ? _0x1e27e5 += parseInt(hour[_0x5ad8bc][_0x1d26e6(0xba)]) : 0x0) : (_0x6eab3 = dgree[_0x5ad8bc]['value'] * hour[_0x5ad8bc][_0x1d26e6(0xba)], _0x4be4c2 = _0x4be4c2 + _0x6eab3, hour[_0x5ad8bc]['value'] ? _0x1e27e5 += parseInt(hour[_0x5ad8bc][_0x1d26e6(0xba)]) : 0x0); } _0x4f446d = _0x4be4c2 / _0x1e27e5; if (isNaN(_0x4f446d)) _0x4f446d = ''; _0x2e4c5d = cla(_0x4be4c2), _0x26adba = countHours(_0x26adba), _0x326444 = _0x2e4c5d / _0x26adba; if (isNaN(_0x326444) || _0x326444 === Infinity) _0x326444 = ''; document[_0x1d26e6(0xb9)](_0x1d26e6(0xa1))[_0x1d26e6(0xb8)] = _0x1d26e6(0xb7) + _0x4f446d[_0x1d26e6(0x9f)](0x2) + '\x20' + gradeing(_0x4f446d) + _0x1d26e6(0xa8), document['getElementById']('sumPoint')[_0x1d26e6(0xb8)] = _0x1d26e6(0xad) + _0x2e4c5d[_0x1d26e6(0x9f)](0x2) + _0x1d26e6(0xa8), document[_0x1d26e6(0xb9)]('culmGpa')[_0x1d26e6(0xb8)] = '<p\x20id=\x22culmGpa\x22\x20\x20style=\x22font-size:\x2019px;\x22>معدلك\x20التراكمي:' + _0x326444[_0x1d26e6(0x9f)](0x2) + '\x20' + gradeing(_0x326444) + _0x1d26e6(0xa8); } function cla(_0x5a1d97) { const _0xf582cb = _0x5ad947; let _0x3efd3b = NaN, _0x345029 = document['getElementById'](_0xf582cb(0x9b))['value'], _0x5852f0 = document['getElementById']('cHours')[_0xf582cb(0xba)]; return _0x3efd3b = _0x345029 * _0x5852f0, _0x3efd3b + _0x5a1d97; } var count = 0x5; function addRow() { const _0x534314 = _0x5ad947; count <= 0x0 && (count = 0x1); var _0x102e59 = document['querySelector'](_0x534314(0xb5))[_0x534314(0xa7)](-0x1), _0x5b03cf = _0x102e59[_0x534314(0x95)](0x0), _0x2421b8 = _0x102e59['insertCell'](0x1), _0x34be7d = _0x102e59[_0x534314(0x95)](0x2); _0x5b03cf['innerHTML'] = '<th\x20class=\x22table\x20lead\x20text-danger\x22><strong>' + count + '</strong>\x20</th>', _0x2421b8[_0x534314(0xb8)] = _0x534314(0xa6), _0x34be7d[_0x534314(0xb8)] = _0x534314(0x9e), count++; } function removeRow() { const _0x1eecb8 = _0x5ad947; count <= 0x0 && (count = 0x1), document[_0x1eecb8(0xb3)]('#tb')['deleteRow'](-0x1), count--; } function gradeing(_0x23890c) { const _0x5690a4 = _0x5ad947; if (x[_0x5690a4(0x9a)] === !![]) { if (_0x23890c >= 3.5) de = _0x5690a4(0xb2); else { if (_0x23890c >= 2.75) de = _0x5690a4(0x97); else { if (_0x23890c >= 1.75) de = _0x5690a4(0xa0); else { if (_0x23890c >= 0x1) de = _0x5690a4(0x99); else de = ''; } } } return de; } else { if (_0x23890c >= 4.5) de = 'ممتاز'; else { if (_0x23890c >= 3.75) de = _0x5690a4(0x97); else { if (_0x23890c >= 2.75) de = _0x5690a4(0xa0); else { if (_0x23890c >= 0x2) de = _0x5690a4(0x99); else de = ''; } } } return de; } }
</script>

</body>

</html>