<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PXN38Q3W0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6PXN38Q3W0');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>منصة قلم </title>
</head>
<style>
    body {
        background-color: #398b79;
        background-repeat: no-repeat;
        background-size: cover;

    }

    #logo {
        font-size: 26px;
        font-weight: 200;

    }

    .signup-btn:hover {

        color: white;
    }
</style>

<body class="">
    <nav class="navbar  shadow-lg mb-sm-5  ">
        <div class="container">
            <a class="navbar-brand text-white " id="logo" href="/">
                قلم
                <img src="../assest/animitedLogo.gif" alt="" width="60px" class="">
            </a>
    </nav>
    <!----------------------------------#HERO--------------------------------------------->

    <section class="hero   " style="margin-top :7rem;">
        <div class=" container">
            <div class="row ">
                <div class="col-md-6  col-sm-12 text-center d-flex justify-content-center align-items-center mt-3  ">
                    <div id="herip">
                        <h2 class="display-5 mt-5 lead text-light d-flex justify-content-center ">
                            من نحن

                            </h2>
                        <p class="lead d-flex justify-content-center mt-2  ">  منصة تضم عدة خدمات لمساعدة الطلاب المتعثرين
                             

                                <ul style="list-style: none;">
                                    <li > <i
                                        class="las la-marker "></i> جدول زمني مقترح بناء على المواد المجتازة </li>
                                    <li> <i
                                        class="las la-marker "></i> تصويت للمواد الغير مدرجة بالخطة الزمنية للفصل الدراسي</li>
                                    <li> <i
                                        class="las la-marker "></i> 
                                        حساب المعدل</li>
                                </ul>

                            
                            </p>
                        <a href="/login" class="btn bg-light   shadow-lg  mt-3
                                                  " id="button" aria-controls="offcanvasRight"
                            style="border-radius: 16px;">
                            <p class="mb-sm-5 mb-md-1 text-dark " id="btoni">تسجيل الدخول </p>
                        </a>
                        <a href="/register" class="btn bg-transparent   shadow-lg  mt-3
                                                  " id="button" aria-controls="offcanvasRight"
                            style="border-radius: 16px;">
                            <p class="mb-sm-5 mb-md-1 text-light " id="btoni">سجل معنا  </p>
                        </a>
                        <!-- <a href="/dashboard" class="btn bg-transparent   shadow-lg  mt-3
                                                  " id="button" aria-controls="offcanvasRight"
                            style="border-radius: 16px;">
                            <p class="mb-sm-5 mb-md-1 text-light " id="btoni">DashBaord </p>
                        </a> -->



                        <!-- <a class="lead text-dark text-decoration-none " href="/register">
                            <p class="mt-3  signup-btn fs-4"> مستخدم جديد <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-emoji-smile"
                                    viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                                </svg></p>
                        </a> -->

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center  mx-md-0 ">
                    <img class="img-fluid px-3 mb-3 " style="height: 390px;" src="assest/bg3.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!------------------------------------END-HERO-------------------------------------------------->
    <!------------------------------------ OFFCANVAS -------------------------------------------------->

    <!-----------------------------------END-OFFCANVAS-------------------------------------------------->
    <!------------------------------------ CARDS -------------------------------------------------->

    <!-- <section class="herop" style="margin-top :7rem;">
        <div class="container">
            <div data-aos="fade-top" data-aos-easing="linear" data-aos-duration="700"
                class="row shadow-lg mb-5  mx-4 mx-md-0 " id="menu-row" style="border-radius: 13px; ">
                <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500"
                    class="col-md-4 col-sm-12 pt-3 shadow-lg text-center  chRowOne" style="border-radius: 13px;">
                    <a class="text-decoration-none  text-dark" href="/gpa">
                        <img src="assest/calculator.svg" style="height: 7rem; " class="img-fluid text-light" alt="">
                        <p class="mt-3 fw-bolder fs-5 ">حساب المعدل</p>
                    </a>
                </div>
                <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
                    class="col-md-4 col-sm-12 pt-3 text-center chRowTwo" style="border-radius: 13px;">
                    <a class="text-decoration-none  text-dark" href="planner.html">
                        <img src="assest/graduation-cap.svg" style="height: 7rem; color: cornsilk;"
                            class="img-fluid text-light" alt="">
                        <p class="mt-3 fw-bolder fs-5">الخطة الأمثل</p>
                    </a>
                </div>
                <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500"
                    class="col-md-4 col-sm-12 pt-3  shadow-lg text-center chRowOThree" style="border-radius: 13px;">
                    <a class="text-decoration-none  text-dark" href="vote.html">
                        <img src="assest/chart-histogram.svg" style="height: 7rem; " class="img-fluid " alt="">
                        <p class="mt-3 fw-bolder fs-5">التصويت</p>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!------------------------------------ END CARDS -------------------------------------------------->





























    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>

    <script src="assest/main.js"></script>


    </script>
    <script>
        AOS.init();
    </script>

</body>

</html>