 <!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
<link rel=" preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./style.css">
    
    <title>منصة قلم </title>
</head>

<style>
    body {
        background-color: #398b79;
        background-repeat: no-repeat;
        background-size: cover;

    }

    #logo {
        font-size: 26px;
        font-weight: 200;

    }

     
</style>
<body class="">
    <!----------------------------------#START NAVBAR--------------------------------------------->
    <nav class="navbar shadow-lg mb-sm-5 ">
        <div class="container">
            <a class="navbar-brand text-white " id="logo" href="/dashboard">
                قلم
                <img src="assest/animitedLogo.gif" alt="" width="60px" class="">
            </a>
    </nav>
    <!----------------------------------#END NAVBAR--------------------------------------------->
    <!----------------------------------#HEADER--------------------------------------------------->
    <style>
        /* Tessst */
    </style>
    <div class="container ">
        <header>
            <div class="row m-5 ">
                <div class="cube-box d-flex justify-content-center align-content-center align-items-center  ">
                    <h3 class=" text-light ">اختر جميع المواد المجتازة <i class="bi bi-check2-square"></i> </h3>
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_6btb8e6j.json"
                        background="transparent" speed="1" style="width: 200px; height: 150px;" loop autoplay>
                    </lottie-player>
                </div>
        </header>
        <!----------------------------------#END HEADER--------------------------------------------------->
        <!----------------------------------ALL COURSES--------------------------------------------------->
        <form class="all-courses mt-3">
            <form>
                <div class="row d-flex shadow-lg p-5 mx-3  coursesBoxO justify-content-evenly position-relative">
                    <div class="col-lg-3 col-sm-10 mt-sm-2 shadow-lg p-3 coursesBox coursesBox1">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى الثالث</h4>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" class="check"
                                    type="checkbox" name="engl103" id="engl103">
                                <label class="mx-2 tasks-list-item" for="engl103">مهارات الكتابة </label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" class="check"
                                    type="checkbox" name="math203" id="math203">
                                <label class="mx-2 tasks-list-item" for="math203"> تفاضل و تكامل 1 </label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" class="check"
                                    type="checkbox" name="phy104" id="phy103">
                                <label class="mx-2 tasks-list-item" for="phy103">فيزياء 1</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" class="check"
                                    type="checkbox" name="cs111" id="cs111">
                                <label class="mx-2 tasks-list-item" for="cs111">برمجة 1</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" class="check"
                                    type="checkbox" name="cs103" id="cs103">
                                <label class="mx-2 tasks-list-item" for="cs103">تراكيب متقطعة </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-10 mt-3  shadow-lg p-3 coursesBox mx-2 ">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى الرابع </h4>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="engl104" id="engl104">
                                <label class="mx-2 tasks-list-item" for="engl104">مهارات الاتصال </label>
                            </div>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="math204" id="math204">
                            <label class="mx-2 tasks-list-item" for="math204">تفاضل و تكامل 2</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="phy104" id="phy104">
                            <label class="mx-2 tasks-list-item" for="phy104">فيزياء 2 </label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="cs112" id="cs112">
                            <label class="mx-2 tasks-list-item" for="cs112">برمجة 2</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="gs112" id="gs112">
                            <label class="mx-2 tasks-list-item" for="gs112">مهارات اللغة العربية 2</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-10 mt-3  shadow-lg p-3 coursesBox mx-2  ">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى الخامس</h4>
                            <div class="hudiban d-flex align-items-center my-1 "><input
                                    class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="gs102" id="gs102">
                                <label class="mx-2 tasks-list-item" for="gs102">دراسات اسلامية</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="math243" id="math243">
                                <label class="mx-2 tasks-list-item" for="math243">جبر خطي (١)</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="coe211" id="coe211">
                                <label class="mx-2 tasks-list-item" for="coe211">تصميم المنطق الرقمي</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs211" id="cs211">
                                <label class="mx-2 tasks-list-item" for="cs211">الخوارزميات وتراكيب البيانات</label>
                            </div>
                            <div class="hudiban d-flex mt-1 align-items-center"> <input
                                    class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs281" id="cs281">
                                <label class="mx-2 tasks-list-item" for="cs281">مقدمة في هندسة البرمجيات</label>
                            </div>
                        </div>
                    </div>
                    <div class="cleerCh d-flex justify-content-end  position-absolute top-100"
                        style="margin-top: -60px;">
                        <button class=" fs-3 cece bg-transparent mx-2" type="reset" for=""><i
                                class="las la-broom cleer"></i></button>
                    </div>
                </div>
            </form>
            <!-- Level 6 -->
            <form>
                <div class="row d-flex shadow-lg p-5 mx-3 mt-5 coursesBoxO justify-content-evenly position-relative">
                    <div class="col-lg-3 col-sm-10 mt-sm-2 shadow-lg p-3 coursesBox">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى السادس</h4>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="engl214" id="engl214">
                                <label class="mx-2 tasks-list-item" for="engl214">مهارات الكتابة الفنية </label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="sci100" id="sci100">
                                <label class="mx-2 tasks-list-item" for="sci100">اختياري علوم طبيعية</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="coe224" id="coe224">
                                <label class="mx-2 tasks-list-item" for="coe224">تنظيم وبناء الحاسب</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="fe1" id="fe1">
                                <label class="mx-2 tasks-list-item" for="fe1">مقرر اختياري حر (١)</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs284" id="cs284">
                                <label class="mx-2 tasks-list-item" for="cs284">تحليل ونمذجة البيانات</label>
                            </div>
                        </div>
                    </div>
                    <!-- Level 7 -->
                    <div class="col-lg-3 col-sm-10 mt-3   shadow-lg p-3 coursesBox ">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى السابع </h4>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="gse1" id="gse1">
                                <label class="mx-2 tasks-list-item" for="gse1">متطلب جامعة اختياري(١)</label>
                            </div>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="stat301" id="stat301">
                            <label class="mx-2 tasks-list-item" for="stat301">الاحتمالات والاحصاء للمهندسين</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="math320" id="math320">
                            <label class="mx-2 tasks-list-item" for="math320">معادلات تفاضلية (١)</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="cs301" id="cs301">
                            <label class="mx-2 tasks-list-item" for="cs301">نظرية الحوسبة</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="cs323" id="cs323">
                            <label class="mx-2 tasks-list-item" for="cs323">نظم التشغيل</label>
                        </div>
                    </div>
                    <!-- Level 8 -->
                    <div class="col-lg-3 col-sm-10 mt-3  shadow-lg p-3 coursesBox mx-2 tasks-list-item ">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى الثامن</h4>
                            <div class="hudiban d-flex align-items-center my-1 ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="gs103" id="gs103">
                                <label class="mx-2 tasks-list-item" for="gs103">دراسات اسلامية حقوق الانسان</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="fe2" id="fe2">
                                <label class="mx-2 tasks-list-item" for="fe2">مقرر اختياري حر (٢)</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs372" id="cs372">
                                <label class="mx-2 tasks-list-item" for="cs372">نظم قواعد البيانات</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="coe332" id="coe332">
                                <label class="mx-2 tasks-list-item" for="coe332">شبكات الحاسب الالي</label>
                            </div>
                            <div class="hudiban d-flex mt-1 align-items-center">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs362" id="cs362">
                                <label class="mx-2 tasks-list-item" for="cs362">النظم الذكية</label>
                            </div>
                        </div>
                    </div>
                    <div class="cleerCh d-flex justify-content-end  position-absolute top-100"
                        style="margin-top: -60px;">
                        <button class=" fs-3 cece bg-transparent mx-2" type="reset" for=""><i
                                class="las la-broom cleer"></i></button>
                    </div>
                </div>
            </form>
            <form>
                <div class="row d-flex shadow-lg p-5 mx-3 mt-5 coursesBoxO justify-content-evenly position-relative">
                    <!-- Level 9 -->
                    <div class="col-lg-3 col-sm-10 mt-3   shadow-lg p-3 coursesBox ">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى التاسع </h4>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="gs104" id="gs104">
                                <label class="mx-2 tasks-list-item" for="gs104">دراسات اسلامية القيم والاخلاق </label>
                            </div>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="cs1" id="cs1">
                            <label class="mx-2 tasks-list-item" for="cs1">مقرر اختياري في التخصص (١)</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="cs433" id="cs433">
                            <label class="mx-2 tasks-list-item" for="cs433">امن الحاسب</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="cs491" id="cs491">
                            <label class="mx-2 tasks-list-item" for="cs491">مشروع التخرج (١)</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                name="cs451" id="cs451">
                            <label class="mx-2 tasks-list-item" for="cs451">الرسم بالحاسب</label>
                        </div>
                        <div class="hudiban d-flex align-items-center ">
                            <input class="form-check-input shadow-lg border fs-5 bg-transparent " type="checkbox"
                                name="is482" id="is482">
                            <label class="mx-2 tasks-list-item" for="is482">الحوسبة واخلاقيات المهنة والمجتمع</label>
                        </div>
                    </div>
                    <!-- Level 10 -->
                    <div class="col-lg-3 col-sm-10 mt-3  shadow-lg p-3 coursesBox mx-2 tasks-list-item ">
                        <div>
                            <h4 class="text-white text-center mb-4">المستوى العاشر</h4>
                            <div class="hudiban d-flex align-items-center my-1 ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="gse2" id="gse2">
                                <label class="mx-2 tasks-list-item" for="gse2">متطلب جامعة اختياري (٢)</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs2" id="cs2">
                                <label class="mx-2 tasks-list-item" for="cs2">مقرر اختياري في التخصص (٢)</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs3" id="cs3">
                                <label class="mx-2 tasks-list-item" for="cs3">مقرر اختياري في التخصص (٣)</label>
                            </div>
                            <div class="hudiban d-flex align-items-center ">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs492" id="cs492">
                                <label class="mx-2 tasks-list-item" for="cs492">مشروع التخرج (٢)</label>
                            </div>
                            <div class="hudiban d-flex mt-1 align-items-center">
                                <input class="form-check-input shadow-lg border fs-5 bg-transparent" type="checkbox"
                                    name="cs424" id="cs424" value="checked">
                                <label class="mx-2 tasks-list-item" for="cs424">مقدمة في الحوسبة المتوازية</label>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-center mt-5  ">
                        <button class="btn btn-outline-light w-25 btn">ارسال
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-send" viewBox="0 0 16 16">
                                <path
                                    d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                            </svg> </button>
                    </div>
                    <div class="cleerCh d-flex justify-content-end  position-absolute top-100"
                        style="margin-top: -60px;">
                        <button class=" fs-3 cece bg-transparent mx-2" type="reset" for=""><i
                                class="las la-broom cleer"></i></button>
                    </div>
                </div>
            </form>
        </form>
        <!----------------------------------END ALL COURSES--------------------------------------------------->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>

        <script>


let btn = document.querySelector(".btn");
let res = document.querySelector("p");

btn.addEventListener("click", () => {
  let checkbox = document.querySelector('input[type="checkbox"]:checked');
  //   res.innerText = checkbox.id;
  //   const s = res

  console.log(checkbox.id);
});

        </script>
    <script src="assest/main.js"></script>
</body>
</html>